<div id="page-auth">
  <aside>
    <img src="assets/images/illustration.svg" alt="Ilustracao simbolizando perguntas e respostas" />
    <strong>Crie salas de Q&A ao-vivo</strong>
    <p>Tire as duvidas da sua audiência em tempo-real</p>
  </aside>
  <main>
    <div class="main-content">
      <img src="assets/images/logo.svg" alt="Letmeask" />
      <h2>Criar uma nova Sala</h2>
      <form [formGroup]="newRoomForm" (ngSubmit)="createNewRoom()">
        <input type="text" placeholder="Nome da sala" formControlName="className">
        <button type="submit" class="button"> Criar sala </button>
        <p>
          Quer entrar em uma sala existente?
          <a (click)="backToHome()">Clique aqui</a>
        </p>
      </form>

    </div>
  </main>
</div>
