<div id="page-room">

  <header>
    <div class="content">
      <img src="assets/images/logo.svg" alt="Letmeask" />
      <!-- COMPONENTIZAR -->
      <button class="room-code">
        <div>
          <img src="assets/images/copy.svg" alt="Copy room code" />
        </div>
        <span>Sala #123456789</span>
      </button>

    </div>
  </header>

  <main>
    <div class="room-title">
      <h1>Sala Perguntas Angular</h1>
      <span>3 pergunta(s)</span>
    </div>

    <form>
      <textarea placeholder="O que você quer perguntar?"></textarea>
      <div class="form-footer">
        <span>Para enviar uma pergunta, <button>faça seu login</button>.</span>
        <button class="button" type="button">Enviar pergunta</button>
      </div>
    </form>

    <div class="question-list">

    </div>

    <div class="empty-questions">
      <img src="assets/images/empty-questions.svg" alt="">
      <strong>Nenhum pergunta por aqui...</strong>
      <p style="color: #737380;">
        Faça o seu login e seja a primeira pessoa a fazer uma pergunta!
      </p>
    </div>

  </main>

</div>
